@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF0D5;
  --foreground: #003049;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FFF9EE;
}
::-webkit-scrollbar-thumb {
  background: #669BBC;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #003049;
}
